body {
	background-color: #ccc;
}

h3 {
	text-align: center;
}

img {
	margin-bottom: 15px;
}

h2 {
	text-align: center;
	color: red;
}

video {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:50px;
}

audio {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

p {
	text-align: center;
}

.center {
	border-style: solid;
	border-color: black;
	width: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.list {
	padding-left: 65px;
}

.list2 {
	padding-left: 85px;
}

.flip {
	transition: 5s;
	transform-style: preserve-3d;
	position: absolute;
}

.flip:hover {
	transform: rotateY(360deg)
}